.contactUsForm {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding-right: 10%;
  height: 70%;
  justify-content: space-around;
  padding-left: 15%;
}
.contactUsForm h1 {
  font-size: 2.7rem;
  height: 40%;
  align-items: center;
  display: flex;
}
.contactUsForm form {
  height: 60%;
  display: flex;
  flex-direction: column;
}
.contactUsForm form button {
  width: 6rem;
  height: 2rem;
  border: none;
  padding-left: 2rem;
  font-size: 1.2rem;
}
::placeholder {
  color: rgb(199, 199, 199);
  font-size: 1rem;
  font-weight: 300;
}

.contactUsForm form div {
  width: 90%;
  display: flex;
  height: 25%;
  justify-content: space-around;
  padding: 1rem;
}
.contactUsForm .message {
  width: 100%;
  padding: 1rem;
}
.contactUsForm form div div {
  display: flex;
  flex-direction: column;
}
.contactUsForm form div div label {
  font-size: 0.9rem;
  font-family: "Lato", sans-serif;
  font-weight: 500;
}
.contactUsForm form div div input {
  border: none;
  border-bottom: 0.1rem solid black;
  padding: 0.8rem;
  outline: none;
  background: rgb(238, 238, 238);
}
.contactUsForm form div div input:focus ::placeholder {
  color: white;
}
@media screen and (max-width: 500px) {
  .contactUsForm {
    all: unset;
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .contactUsForm form {
    width: 90%;
    display: flex;
    flex-direction: column;
    height: 90%;
    justify-content: space-around;
    padding-top: 1rem;
    align-items: center;
    text-align: center;
  }
  .contact-us-form-name {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 25%;
    justify-content: space-around;
    padding: 0rem;
    align-items: center;
  }
  .contact-us-form-name div {
    all: unset;
    width: 100%;
    padding: 0;
    margin: 1rem;
    text-align: center;
  }
  .contact-us-form-message {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  .contact-us-form-message div {
    all: unset;
    width: 100%;
    padding: 0;
    margin: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contact-us-form-message div input {
    all: unset;
    width: 80%;
  }
  .contact-us-form-email-pass {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 25%;
    justify-content: space-around;
    padding: 0rem;
    margin-top: 1rem;
    text-align: center;
    align-items: center;
  }
  .contact-us-form-email-pass div {
    all: unset;
    width: 100%;
    padding: 0;
    margin: 1rem;
    text-align: center;
  }
}
