@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap");

.socialContainer {
  display: flex;
  padding-left: 18.5%;
  width: 72%;
  height: 10%;
  justify-content: flex-end;
}
.socialContainer p {
  padding-right: 1rem;
}
.socialContainer a {
  color: rgb(182, 182, 182);
  font-family: "Lato", sans-serif;
  font-weight: 500;

  text-decoration: none;
}
@media screen and (max-width: 500px) {
  .socialContainer {
    display: flex;
    align-self: flex-end;
  }
}
