.loggedInCard {
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 14rem;
  position: relative;
  left: 5%;
  top: 100%;
  z-index: 50;
}
.circle {
  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.circle img {
  border-radius: 50%;
  width: 20%;
}
.menu {
  height: 70%;
  background-color: rgb(237, 237, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  box-shadow: 1px 1px 15px black;
}
.menu ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}
