@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");

.contact-section-main {
  display: flex;
  width: 100vw !important;
  height: 90.35vh;
  font-family: "Lora", serif;
}
.contact-design {
  width: 50vw;
  height: 100%;
  background-color: #000;
  color: white;
}
.contact-form {
  width: 50%;
  height: 100%;
  background-color: rgb(238, 238, 238);
  color: black;
}
.contact-design-heading {
  height: 30% !important;
  width: 100%;
}
.contact-design-heading h1 {
  font-size: 3.7vw;
  padding: 3rem 10vw;
  padding-top: 6rem;
  padding-bottom: 0rem;
}
.contact-design-circles {
  height: 50% !important;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
}
.contact-design-circles div {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  border: 2px solid white;
}
.contact-design-circles .circleDotted {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  border: 2px dashed white;
  position: relative;
}
.contact-design-circles .circleSimpleOne {
  position: relative;
  left: 5%;
}
.contact-design-circles .circleSimpleTwo {
  position: relative;
  right: 5%;
}
.contact-design-policy {
  height: 20% !important;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.contact-design-policy p {
  color: rgb(87, 87, 87);
  font-family: "Lato", sans-serif;
  font-weight: 500;
}
