@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");

.login-main {
  width: 100vw;
  height: 90.4vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Lato", sans-serif;
}
::placeholder {
  font-family: "Lato", sans-serif;
}
.login-section {
  width: 45%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Lato", sans-serif;
  overflow: hidden;
}
.login-hider-section {
  width: 100vw !important;
  position: absolute;
  display: flex;
  height: 90%;
  top: 20%;
  left: 0;
  transition: all 0.5s ease;
}
.login-image-section {
  height: 100%;
  width: 55%;
  background: linear-gradient(
      to right,
      rgba(4, 0, 255, 0.151),
      rgba(0, 110, 255, 0.171)
    ),
    url("https://source.unsplash.com/900x1000/?nature,water") center/cover;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  position: relative;
  z-index: 5;
}
.login-section form {
  height: 40%;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.login-section form input {
  width: 60%;
  outline: none;
  border: rgb(216, 216, 216) 1.5px solid;
  padding: 1rem;
  border-radius: 15px;
}
.buttons {
  display: flex;
  width: 60%;
  align-items: center;
  justify-content: space-around;
}
.buttons button {
  background: transparent;
  border: 2px solid black;
  padding: 0.8rem 1.2rem;
  border-radius: 40px;
  color: rgb(68, 68, 68);
}
.register,
.forgot-password {
  border: none !important;
  color: rgb(53, 53, 53);
  font-size: 0.9rem;
}
.sign-in {
  border-radius: 10px !important;
  padding: 1rem 1.5rem !important;
  color: white !important;
  background: #0034e0b2 !important;
  border: none !important;
}
.login-image-content {
  width: 50%;
  height: 15%;
}
.login-image-content p {
  font-size: 1rem;
  font-weight: 300;
  text-shadow: 1px 1px 3px #222;
  color: rgb(231, 231, 231);
  font-weight: 500;
}
.login-image-content h1 {
  font-size: 6.5rem;
  text-shadow: 0.4px 0.4px 10px #222;
}

.login-section-design {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 30%;
}
.login-section-design p {
  font-size: 1rem;
  font-weight: 300;
  text-shadow: 1px 1px 3px#222;
  color: rgb(231, 231, 231);
  padding-bottom: 0.8rem;
  padding-top: 0.8rem;
  font-weight: 500;
}
.login-section-design h5 {
  font-weight: 500;
  font-size: 1.5rem;
  color: white;
  text-shadow: 1px 1px 3px #222;
}
.line {
  border-radius: 40px;
  width: 10rem;
  height: 5px;
  background-color: rgb(255, 115, 0);
}

.login-comp-section {
  width: 50%;
  position: relative;
  height: 80% !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* transform: translate(20%); */
  justify-content: space-around;
}
.sign-up-comp-section {
  width: 50%;
  position: relative;
  height: 80% !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
form {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
