@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");

nav {
  width: 100vw;
  height: 90px;
  background-color: transparent;
  position: absolute;
  z-index: 5000;
  backdrop-filter: blur(10px);
  display: flex;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  /* position: absolute; */
}
.logo {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
ul {
  display: flex;
  list-style: none;
  height: 100%;
  width: 70%;
  align-items: center;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  color: white;
  text-shadow: 0px 0px 5px black;
  font-weight: 500;
}
.react-link {
  text-decoration: none;
}
.login-btn {
  padding: 0.8rem 2rem;
  text-shadow: 1px 1px 3px black;
  border-radius: 40px;
  background: rgb(255, 115, 0);
}
